@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Telerik TreeList</h1>

    <div class="text-center">
        <h2>Telerik UI DatePicker for ASP.NET Core</h2>
        @(Html.Kendo().DatePicker()
            .Name("my-picker")
        )
    </div>
</div>
