@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4">Error</h1>
    <p class ="display-6">Oops... Something wrong. <br />
        We are alreday logged error and we are working on desicion</p>
</div>
